
{{#if errors.length}}
    {{#each errors}}
      <div class="alert alert-danger alert-dismissible fade show p-1 d-flex align-items-center justify-content-between m-1" role="alert">
            {{this}}
            <span type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <i aria-hidden="true" class="fa fa-times"></i>
            </span>
        </div>
    {{/each}}
{{/if}}
{{#if success_msg}}
    {{#each success_msg}}
      <div class="alert alert-success alert-dismissible fade show p-1 d-flex align-items-center justify-content-between m-1" role="alert">
            {{this}}
            <span type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <i aria-hidden="true" class="fa fa-times"></i>
            </span>
        </div>
    {{/each}}
{{/if}}