<header class="p-3 bg-dark text-white container-fluid">
  <div class="container d-flex">
    <div>
      <a href="/{{admin}}" class="fa fa-landmark fa-2x d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"></a>
    </div>
      <h3 class="ms-3 fw-bold">{{title}} </h3> <br> <i class="mt-2 ms-3">{{motto}}</i>
  </div>
</header>