<header class="p-3 bg-dark text-white container-fluid">
  <div class="container d-flex align-items-center">
    <div>
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="/assets/images/logo.jpg" class="rounded" width="60" height="" alt="">
      </a>
    </div>
      <h3 class="ms-3 fw-bold"> S&T BARRACKS VOLLEY CLUB (STC) BENIN </h3> <br> <i class="mt-2 ms-3">{{motto}}</i>
  </div>
</header>